.center-spin{
  position: absolute;left: 50%;top:50%;transform: translate(-50%,-50%);text-align: center
}

.center-top{
  position: absolute;left: 0%;top:40%;transform: translate(-0%,-40%);text-align: center
}
.img-center{

   position: absolute;transform: translate(-50%,-50%);text-align: center
}
